.drag-n-drop-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
}

.dropzone-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

label[for="files"] {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin-top: 12px;
}


.custom-dropzone {
    border: 2px dashed #28a745;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    background-color: #f0fdf4;
    color: #155724;
    font-weight: bold;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px !important;
    margin-bottom: 20px !important;
    position: relative;
    gap: 25px;
    flex: 1; 
  }
  
  .custom-dropzone:hover {
    background-color: #d4edda;
  }
  
  .custom-dropzone span {
    color: #218838;
    cursor: pointer;
    text-decoration: underline;
  }
  
  #iconPic {
    position:static;
    font-size: 45px;
  }
  
.preview-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto; /* Enables horizontal scrolling */
    overflow-y: hidden; /* Prevents vertical overflow */
    width: 100%;
    flex: 1;
    margin-left: 15px;
    gap: 50px;
  }

  .preview-box {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
  }
  
  .preview-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid green;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 0;
    aspect-ratio: 1/1;
  }
  
  /* Blank Upload Container - Three Boxes */
  .blank-upload-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto; /* Enables horizontal scrolling */
    overflow-y: hidden; /* Prevents vertical overflow */
    width: 100%;
    justify-content: space-between;
    flex: 1;
  }
  
  .blank-upload-box {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0fdf4;
    color: #155724;
    border: 2px dashed #28a745;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
  }

  .remove-icon {
    width: 1.2em;
    height: 1.2em;
    cursor: pointer;
    position: absolute;
    translate: -12px -5px;
  }

  .remove-icon-bg {
    fill: black;
  }

  .remove-icon-x {
    fill: white;
  }

  /* Optional hover effect */
  .remove-icon:hover .remove-icon-bg {
    fill: #cc0000; /* dark red background on hover */
  }

  
  @media (max-width: 1200px) {

    .drag-n-drop-container {
       justify-content: center;
       align-items: center;
    }

    .custom-dropzone {
      width: 100%;
      max-width: 450px;
    }
  
    .preview-container {
      max-width: 100%;
      gap: 16px;
      justify-content: flex-start;
    }
  
    .blank-upload-container {
      gap: 15px;
    }
  
    .blank-upload-box {
      font-size: 12px;
    }

    .preview-box {
      margin-left: 15px;
      margin-right: 10px;
    }
  }
  
  @media (max-width: 1000px) {
    .custom-dropzone {
      width: 100%;
      max-width: 350px;
      margin: auto;
    }

    .remove-icon {
      width: 1.5em;
      height: 1.5em;
      top: 0px;
      right: -18px;
    }

    #iconPic {
      margin-left: 10px;
    }
  }
  
  @media (max-width: 800px) {
    .custom-dropzone {
      width: 100%;
      max-width: 270px;
      margin: auto;
    }
  }
  
  @media (max-width: 700px) {
    .custom-dropzone {
      width: 75%;
      max-width: 230px;
      margin: auto;
    }

    .blank-upload-box {
      width: 100px;
      height: 100px;
    }
  }
  
  @media (max-width: 500px) {
    .custom-dropzone {
      width: 75%;
      max-width: 230px;
      margin: auto;
    }
  }