.messagecontainer {
    background: rgb(34,108,44);
    background: linear-gradient(135deg, #b7d2b3, #90b88c, #6e8f6e);
    height: auto;
    display: flex; 
    justify-content: center; 
    align-items: flex-start; 
    gap: 18px;
    padding: 25px; 
    padding-bottom: 30px; 
     
}

.messagebox, .messagebox-dup{
    width: 350px;
    height: 80vh;
    border-radius: 16px;
    backdrop-filter: blur(1px) saturate(169%);
    -webkit-backdrop-filter: blur(1px) saturate(169%);
    background-color: rgba(255, 255, 255, 0.71);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    box-shadow: 0 20px 15px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
    position: relative;
}

.messagetitle{
   margin-left: 20px;
   padding-left: 10px;
   margin-bottom: 10px;
}


.search-container-messaging {
   display: flex;  /* Aligns the input and any icons inside */
   width: 100%;
   margin-left: 25px;
   margin-top: 30px;
   margin-bottom: 30px;
}


.search-container-messaging input {
   width: 70%;
   padding: 8px 12px;
   padding-left: 40px;
   font-size: 12px;
   border: 2px solid black;
   border-radius: 12px;
   outline: none;
}


.search-icon {
   position: absolute;
   translate: 10px 5px;
   stroke-width: 3px;
   width: 20px;
}


.search-icon:hover{
   cursor: pointer;
   color: #547B3E;
}


.messagesList {
   height: 75%;
   overflow: auto;
   position: relative;
}


.listChats{
   display: flex;
   align-items: center;
   margin-top: 10px;
   padding: 5px 15px;
}


.listChats:hover{
   background-color: lightgray;
}
  
.messagePFP{
   border: 2px solid #547B3E;
   border-radius: 50%;
   height: 60px;
   width: 60px;
   object-fit: cover;
   padding: 0;
   margin-left: 10px;
}


.nameMessage{
   margin-top: -15px;
   margin-left: 15px;
   width: 72%;
}


.nameMessage h4 {
   margin-top: -5px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}


.nameMessage p:nth-of-type(2){
   margin-top: 25px;
   font-size: 12px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.nameMessage p:nth-of-type(3){
   margin-top: -12px;
   font-size: 12px;
   opacity: 0.5;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.messageRightCon-default {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 0;
    height: 80vh;
    overflow: hidden;
    border-radius: 10px;
    background-color: white;
    opacity: 0.8;
    align-items: center;
    justify-content: center;
}

.hidden {
  display: none;
}

.messageRightCon-default h1{
    font-size: 3vh;
}

.message-defaultPic{
    width: 25vh;
    height: 25vh;
}

.messageRightCon {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 0;
    height: 80vh;
    overflow: hidden;
    border-radius: 10px;
    background-color: white;
}

.hidden {
  display: none;
}

.messagebar {
    display: flex;
    background-color: #82AA6D;
    border: 3px solid white;
    height: 6vh;
    position: relative;
    padding: 15px;
    padding-left: 30px;
    border-radius: 10px;
    align-items: center;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.profile {
    display: flex;
    color: white;
    gap: 25px;
    align-items: center;
    font-weight: bold;
    font-size: 15px;
    padding-left: 5px;
}

.arrow-left{
    display: none;
    width: 30px;
    height: 30px;
}

.right-con-pfp{
   border: 2px solid #547B3E;
   border-radius: 50%;
   height: 50px;
   width: 50px;
   object-fit: cover;
   padding: 0;
}

.profile-buttons{
    display: flex;
    position: absolute;
    gap: 15px;
    right: 35px;
}

.review-button:disabled {
  background-color: gray;   /* Gray background */
  color: black;              /* Dimmed text */
  cursor: not-allowed;
  border: 1px solid #999;   /* Optional for clarity */
  opacity: 0.8;  
}

.itemInquired {
    display: flex;
    padding: 12px;
    background-color: lightgray;
    height: 6vh;
    gap: 25px;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
}

.itemInquiredDetails{
   display: flex;
    padding: 12px;
    background-color: lightgray;
    height: 6vh;
    gap: 25px;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
}

.itemInquiredDeets p{
    font-size: 14px;
    margin-top: -8px;
}

.itemInquiredDeets h3{
    font-size: 16px;
    margin-top: 12px;
}

.itemInquired img{
   height: 50px;
   width: 50px;
   margin-left: 25px;
   border: 3px solid green;
   padding: 0;
   object-fit: cover;
}

.item-buttons{
    display: flex;
    position: absolute;
    gap: 15px;
    right: 35px;
}

.review-button, .view-button {
  background: #989393;
  border-color: #547B3E;
  padding: 12px;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  width: 120px;
  text-transform: uppercase;
  cursor: pointer;
  transform: skew(-0deg);
  width: 135px;
  border-radius: 8px;
}


.span {
  display: inline-block;
  transform: skew(21deg);
}


.review-button::before, .view-button::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100%;
  left: 0;
  background: #6b9454;
  opacity: 0;
  z-index: -1;
  transition: all 0.5s;
  border-radius: 6px;
}


.review-button:hover, .view-button:hover {
  color: yellow;
}


.review-button:hover::before, .view-button:hover::before {
  left: 0;
  right: 0;
  opacity: 1;
}

.review-button:disabled, .review-button:disabled:hover,  .review-button:disabled:hover::before{
  background-color: gray;   /* Gray background */
  color: black;              /* Dimmed text */
  cursor: not-allowed;
  border: 1px solid #999;   /* Optional for clarity */
  opacity: 0.8;  
}


.messagesholder{
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden ;
}

.messageholder.time-stamp:hover {
    color: black;
    cursor: pointer;        
}



.adjust-holder {
    height: 100%;
    padding-right: 15px;
    overflow-y: auto;
    background-color: white;
    width: 100%;
    flex: 1;
    position: relative;
}


.specific-messages{
    background-color: #dcf8c6;
    padding: 10px;
    border-radius: 10px;
    max-width: 50%;
    text-align: left;
}

.received-message{
    background-color: lightgray;
}

.specific-messages .time-stamp {
  display: none;
   
}


.specific-messages:hover .time-stamp {
  display: inline;
  position: absolute;
   margin-left: 20px;
 
}
.sent-message:hover .time-stamp {
    display: inline;
    position: absolute;
    margin-right: 230px;
    right: 0;
}




.send-container{
    display: flex;
    padding: 15px;
    padding-left: 25px;
    align-items: center;
    gap: 10px;
    height: auto;
}        
                                        
.sendinput {
  height: auto;
  border: 2px solid #a4e683;
  flex: 1;
  padding: 5px 15px;
  border-radius: 10px;
  resize: none;
  overflow-y: auto;
  line-height: 1.4;
  font-size: 14px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
}
 
                                           
 .submit-message  {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 0px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border-color: #a4e683;
    cursor: pointer;
}

 .submit-image  {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: none;
    padding: 0px;
    height: 50px;
    width: 50px;
    cursor: pointer;
}


.time-stamp {
    font-size: 10px;
    color: gray;
    margin-top: 5px;
    text-align: right;
    margin-right: 10px;
    font-style: bold    ;
   
}




/* Responsiveness */

@media (max-width: 1240px) {

    .itemInquiredDetails {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .itemInquired {
        gap: 5px;
        padding-left: 5px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding-bottom: 15px;
        padding-top: 5px;
        height: auto;
    }

    .itemInquiredDeets h3{
        font-size: 14px;
    }

    .itemInquiredDeets p{
        font-size: 12px;
    }

    .itemInquiredDetails{
        padding-left: 0px;
    }

    .item-buttons{
        position: relative;
        left: 20px;
    }

    .review-button{
        width: 100px;
        padding: 8px;
        font-size: 10px;
    }

    .view-button{
        width: 100px;
        padding: 8px;
        font-size: 10px;
    }
    

}

@media (max-width: 950px) {

    .arrow-left{
        display: block;
    }

    .messagebox{
        display: block;
        width: 100%;
        height: 80vh;
    }

    .messagebox-dup{
        display: none;
    }

    .messageRightCon-default{
        display: none;
    }

    .messageRightCon{
        width: 100%;
        height: 80vh;
    }

    .profile{
        gap: 15px;
    }

    .right-con-pfp{
        width: 40px;
        height: 40px;
    }

    .messagebar{
        padding: 15px;
        padding-left: 25px;
    }

    .messagebar h3{
        font-size: 15px;
    }

    .itemInquired {
        gap: 5px;
        padding-left: 5px;
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding-bottom: 12px;
        padding-top: 5px;
    }

    .itemInquiredDeets h3{
        font-size: 14px;
    }

    .itemInquiredDeets p{
        font-size: 12px;
    }

    .itemInquiredDetails{
        padding-left: 0px;
    }

    .item-buttons{
        position: relative;
        left: 20px;
    }

    .review-button{
        width: 100px;
        padding: 8px;
        font-size: 10px;
    }

    .view-button{
        width: 100px;
        padding: 8px;
        font-size: 10px;
    }
}

@media (max-width: 550px) {

    .item-buttons{
        gap: 10px;
    }

    .review-button{
        width: 90px;
        padding: 8px;
        font-size: 8px;
    }

    .view-button{
        width: 90px;
        padding: 8px;
        font-size: 8px;
    }
    
}

@media (max-width: 375px) {

    .messagebox{
        height: 90vh;
    }

    .messageRightCon{
        height: 90vh;
    }

    .itemInquiredDetails {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .item-buttons{
        gap: 5px;
    }

    .review-button{
        width: 85px;
        padding: 8px;
        font-size: 8px;
    }

    .view-button{
        width: 85px;
        padding: 8px;
        font-size: 8px;
    }
    
}
